<fieldset>
  <legend><%= l(:label_plugin_settings) %></legend>
  <p>
    <label><%= l(:label_graphviz_binary) %></label>
    <%= text_field_tag 'settings[graphviz_binary_default]', @settings['graphviz_binary_default'], size: 60 %>
  </p>
</fieldset>
